# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
env/

# Data & outputs
data/
# Model checkpoints
*.pth
*.safetensors

# Logs and temp
*.log

# OS files
.DS_Store
.json